<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tax.fulltax">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fulltax"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fulltax"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat.DayNight">

        <activity android:name="com.tax.fulltax.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>